<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% load static %}
        <link rel="icon" href="{% static 'images/nphs_bobcats_favicon.jpg' %}" type="image/x-icon">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/members.css' %}" />

        <!-- Javascript -->
        <script src="{% static 'javascript/members.js' %}" defer></script>
        <script src="{% static 'javascript/attendance.js' %}" defer></script>

        

        <title>Members | NPHS TSA</title>
    </head>
    <body>
        {% load mycomponents %}
        {% load my_filters %}
        {% load is_officer %}
        {% navbar "none" "Attendance" %}
        <div class="container">
            <div class="header">
                <h1>Attendance</h1>
                {% if user.is_superuser or user|is_officer %}
                <a href="{% url 'scan_attendance' %}">Scan</a>
                {% endif %}
                <p>Manage and view member attendance records</p>
                <div class="filters">
                    <div class="filter-group">
                        <label for="searchInput">Search</label>
                        <input type="text" id="searchInput" class="filter-input" placeholder="Search student names or n numbers...">
                    </div>
                    <div class="filter-group">
                        <label for="dateFilter">Date</label>
                        <input type="date" name="dateFilter" id="dateFilter" class="filter-input" />
                    </div>
                    <div class="filter-group">
                        <label for="dateOrderFilter">Date</label>
                        <select id="dateOrderFilter" name="dateOrderFilter" class="dateOrderFilter filter-input">
                            <option value="ascending">Ascending</option>
                            <option value="descending">Descending</option>
                        </select>
                    </div>
                    <button class="clear-filters" onclick="clearAllFilters()">Clear Filters</button>
                </div>
            </div>
            {% for date, record in records.items %}
            <div class="members-table" id="date-{{ date|replace_string:' , ' }}">
                <table>
                    <thead>
                        <tr style="position: relative;">
                            <th>Name</th>
                            <th>ID</th>
                            <th class="date">{{ date }}</th>
                            <th style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%);"><button class="export-nnums" id="export-date-{{ date|replace_string:' , ' }}">Export</button></th>
                        </tr>
                    </thead>
                    
                    <tbody id="membersTableBody" class="membersTableBody">
                        {% for member in record %}
                        <div class="modal modal-{{ member.n_number }}">
                            <h3 class="confirm-delete">Are you sure you want to delete attendance record for {{ member.n_number }} on {{ date }}?</h3>
                            <div class="modal-buttons">
                                <button class="cancel-delete-button">Cancel</button>
                                <form action="/members/attendance/delete/{{ date }}/{{ member.n_number }}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Confirm</button>
                                </form>
                            </div>
                        </div>
                        <tr>
                            <td class="member-name" style="width: 70%;">
                                {% if member.user %}
                                {{ member.user.name }}
                                {% else %}
                                Unknown
                                {% endif %}
                            </td>
                            <td class="member-id">{{ member.n_number }}</td>
                            <td style="position: relative;" style="z-index: 100;">
                                <div class="menu-container" style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%); z-index: 100">
                                    <button
                                        class="menu-button"
                                        onclick="toggleMenu('{{ forloop.parentloop.counter }}-{{ forloop.counter }}')"
                                    >
                                        <span class="menu-dots"></span>
                                    </button>
                                    <div class="dropdown-menu" id="menu-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                        <a
                                            class="dropdown-item"
                                            href="/members/{{ member.n_number }}"
                                            >View</a
                                        >
                                        
                                        {% if user.is_superuser or user|is_officer %}
                                        <a
                                            class="dropdown-item"
                                            href="/members/{{ member.n_number }}/edit"
                                            >Edit</a
                                        >
                                        <button a class="dropdown-item delete" data-nnum="{{ member.n_number }}" data-date="{{ date|replace_string:' , ' }}"
                                            >Delete</button
                                        >
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
