<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% load static %}
        {% load pwa %}
        {% progressive_web_app_meta %}
        <link rel="icon" href="{% static 'images/nphs_bobcats_favicon.jpg' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/members.css' %}" />
        <script src="{% static 'javascript/members.js' %}" defer></script>
        

        <title>Members | NPHS TSA</title>
    </head>
    <body>
        {% load mycomponents %}
        {% load is_officer %}
        {% navbar "none" "Members" %}
        <div class="container">
            <div class="header">
                <h1>Chapter Members</h1>
                <p>View all registered chapter members, their roles, and strike information.</p>
                <div class="filters">
                    <div class="filter-group" style="width: 100%;">
                        <input type="text" id="searchInput" class="filter-input filter-search" style="width: 100%;" placeholder="Search student names or n numbers...">
                    </div>
                </div>
            </div>

            <div class="members-table">
                <table>
                    <thead>
                        <tr>
                            <th>Name ({{ members|length }})</th>
                            <th>ID</th>
                            <th>Role</th>
                            <th>Strikes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="membersTableBody">
                        {% for member in members %}
                        <tr class="member" onclick="window.location = '/members/{{member.username}}'">
                            <td class="member-name">{{ member.name }}</td>
                            <td class="member-id">{{ member.username }}</td>
                            <td>
                                <span class="role-badge role-${member.role}">{{ member.role }}</span>
                            </td>
                            <td>
                                <span class="strikes">Strikes: {{ member.strikesNum }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
