<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewing {{member.name}} | NPHS TSA</title>

    {% load static %}
    {% load pwa %}
    {% progressive_web_app_meta %}
    <link
        rel="icon"
        href="{% static 'images/nphs_bobcats_favicon.jpg' %}"
        type="image/x-icon"
    />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/view_member.css' %}" />
    <script src="{% static 'javascript/view_member.js' %}" defer></script>

    <style>
        
    </style>
</head>
<body>
    {% load mycomponents %}
    {% navbar "none" "Members" %}
    {% load is_officer %}
    <div class="container">
        <div class="profile-header">
            <div class="profile-avatar" id="avatar">DD</div>
            <h1 class="profile-name" id="userName">{{ member.name }}</h1>
            <h4 class="profile-nnum"><span id="userNnum">{{ member.username }}</span> | Strikes: {{ member.strikesNum }}</h1>
            <span class="profile-rank" id="userRank">{{ member.role }}</span>
        </div>

        {% if user|is_officer or user == member %}
        <div class="profile-actions">
            <h2 class="section-title">Account Settings</h2>
            <div class="action-buttons">
                {% if user|is_officer %}
                {% if not member.is_superuser or member.is_superuser and user.is_superuser %}
                <button class="btn btn-primary" onclick="openPasswordModal()">
                    Edit Information
                </button>
                <button class="btn btn-danger" onclick="confirmDelete()">
                    Delete Account
                </button>
                {% endif %}
                {% if not member.is_superuser %}
                <button class="btn btn-primary" onclick="openStrikesModal()">
                    Manage Strikes
                </button>
                {% endif %}
                {% else %}
                <button class="btn btn-primary" onclick="openViewStrikesModal()">
                    View Strikes
                </button>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <div class="events-section">
            <h2 class="section-title">My Events</h2>
            <ul class="events-list" id="eventsList"></ul>
        </div>
    </div>

    {% if user|is_officer and not member.is_superuser or user.is_superuser%}
    <div class="modal" id="passwordModal">
        <div class="modal-content">
            <h3 class="modal-header">Change Password</h3>
            <form id="passwordForm">
                <div class="form-group">
                    <label class="form-label" for="newName">Name</label>
                    <input type="text" class="form-input" id="newName" value="{{ member.name }}">
                </div>
                <div class="form-group">
                    <label class="form-label" for="newNnum">N Number</label>
                    <input type="text" class="form-input" id="newNnum" value="{{ member.username }}">
                </div>
                <div class="form-group">
                    <label class="form-label" for="newPassword">Password</label>
                    <input type="password" class="form-input" id="newPassword" value="">
                    <input type="checkbox" name="newPassword" id="showPassword">
                </div>
                {% if user.is_superuser %}
                <div class="form-group">
                    <label class="form-label" for="newRole">Role</label>
                    <select type="text" class="form-input" id="newRole">
                        <option value="Member">Member</option>
                        <option value="Shadow Officer">Shadow Officer</option>
                        <option value="Sergeant-At-Arms">Sergeant-At-Arms</option>
                        <option value="Reporter">Reporter</option>
                        <option value="Treasurer">Treasurer</option>
                        <option value="Secretary">Secretary</option>
                        <option value="Vice President">Vice President</option>
                        <option value="President">President</option>
                        <option value="Advisor">Advisor</option>
                    </select>
                </div>
                {% endif %}
                <div class="modal-actions">
                    <button type="button" class="btn btn-secondary" onclick="closePasswordModal()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Update Information</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal" id="strikesModal">
        <div class="modal-content">
            <h3 class="modal-header">Update Strikes</h3>
            <div class="strike-displays">
                {% for strike in strikes %}
                <div class="strike-display strike-{{ forloop.counter }}">
                    <div class="strike-header">
                        <span class="strike-num">Strike {{ forloop.counter }}</span>
                        <button class="btn btn-danger" onclick="removeStrike({{ strike.pk }})">Remove</button>
                    </div>
                    <div class="strike-body">
                        <label>Reason</label>
                        <div class="strike-reason">{{ strike.reason }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <form id="strikesForm">
                <div class="form-group">
                    <label class="form-label" for="strike-reason-input">Reason</label>
                    <input type="text" class="form-input strike-reason-input" id="strike-reason-input" placeholder="Please enter a reason for the strike." maxlength="100" />
                </div>
                <div class="modal-actions">
                    <button type="button" class="btn btn-secondary" onclick="closeStrikesModal()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Grant Strike</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    {% if member == user %}
    <div class="modal" id="strikesViewModal">
        <div class="modal-content">
            <h3 class="modal-header">View Strikes</h3>
            <div class="strike-displays">
                {% for strike in strikes %}
                <div class="strike-display strike-{{ forloop.counter }}">
                    <div class="strike-header">
                        <span class="strike-num view" data-strike="{{ forloop.counter }}"></span>
                    </div>
                    <div class="strike-body">
                        <label>Reason</label>
                        <div class="strike-reason">{{ strike.reason }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="modal-actions" style="display: flex; align-items: center; justify-content: center;">
                <button type="button" class="btn btn-secondary" onclick="closeViewStrikesModal()" style="width: 35%; text-align: center; display: flex; align-items: center; justify-content: center;">Close</button>
            </div>
        </div>
    </div>
    {% endif %}
    {{ events|json_script:"events-data" }}
</body>
</html>