<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NPHS TSA | Login</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <form method="post">
            <div class="title">NPHS TSA</div>
            {% csrf_token %}
            <!-- CSRF token for security -->

            <!-- Login heading -->
            <h3>Login</h3>
            <hr />

            <!-- Display error/success messages -->
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
            {% endif %}

            <!-- Username input field -->
            <div class="form-group">
                <label for="username">Username</label>
                <input
                    type="email"
                    class="form-control"
                    name="username"
                    id="username"
                    aria-describedby="Enter email or username"
                    placeholder="Email or Username"
                    required
                />
            </div>

            <!-- Password input field -->
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    name="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                    required
                />
            </div>

            <!-- Link to registration page -->
            <p>Don't have an account <a href="/auth/register/">Register</a></p>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </body>
</html>
