<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NPHS TSA | Login</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        {% load static %}
        <link rel="icon" href="{% static 'images/nphs_bobcats_favicon.jpg' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        
    </head>
    <body>
        {% load mycomponents %}
        {% navbar "Login" "none" %}
        <div class="login-container">
        <div class="title">NPHS TSA</div>
        <div class="subtitle">Technology Student Association</div>
        
        <form method="post">
            {% csrf_token %}
            {% if messages %}
            <div class="alert" id="messageAlert">
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
            {% endif %}

            <div class="form-group">
                <label for="username">N Number</label>
                <input type="text" name="username" id="username" placeholder="Email or N Number" required="">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required="">
            </div>

            <div class="register-link">
                Don't have an account? <a href="/auth/register/">Register here</a>
            </div>

            <button type="submit" class="btn-login">Login</button>
        </form>
    </div>
    </body>
</html>
