<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NPHS TSA | Register</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    {% load static %}
    {% load pwa %}
    {% progressive_web_app_meta %}
    <link rel="icon" href="{% static 'images/nphs_bobcats_favicon.jpg' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    {% load mycomponents %}
    {% navbar "Login" "none" %}
    <div class="login-container register-container">
        <div class="title">NPHS TSA</div>
        <div class="subtitle">Technology Student Association</div>

        <form method="post">
            {% csrf_token %}
            {% if messages %}
            <div class="alert" id="messageAlert">
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
            {% endif %}

            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="Enter Full Name"
                    placeholder="Full Name" required />
            </div>

            <!-- nNumber input field -->
            <div class="form-group">
                <label for="nnumber">N Number</label>
                <input type="text" class="form-control" name="nnumber" id="nnumber" aria-describedby="Enter N Number"
                    placeholder="N Number" required />
            </div>

            <!-- Email input field -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="Enter email"
                    placeholder="Email" required />
            </div>

            <!-- Password input field -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                    required />
            </div>

            <!-- Confirm Password input field -->
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" name="confirm-password" class="form-control" id="confirm-password"
                    placeholder="Confirm Password" required />
            </div>

            <div class="register-link">
                Already have an account? <a href="/auth/login/">Login here!</a>
            </div>

            <button type="submit" class="btn-login">Register</button>
        </form>

</body>

</html>